.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #8b0000, #d46a6a);
}

.login-form {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 0.7rem;
  border: none;
  background: #8b0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background: #a30000;
}
